- content_for :extra_javascript do
  :javascript
    ST.transaction.initializeFreeTransactionForm('#{I18n.locale}');

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))

.standard-title-container
  %h2.page-title
    = t("listing_conversations.preauthorize.details")

#new_message_form.centered-section

  - author_link = link_to(author[:display_name], person_path(username: author[:username]))

  .preauthorize-section

    .authorize-title-container
      %h2.authorize-title
        %strong
          = link_to("#{listing[:title]}", listing_path(listing[:id]))
        by
        = author_link

    - m_price_break_down.each do |price_break_down|
      .text-italic
        = render partial: "transactions/price_break_down", locals: price_break_down
        %p#preauthorize-message
          Free shipping
          %br
          Ships within 5-7 business days from date of purchase
          %br
          * Eivey only buys & sells in Canada

  = form_tag(form_action, method: :post, id: "transaction-form") do
    .preauthorize-section
      .authorize-title-container
        %h2.authorize-title
          Shipping Address
      .row
        .col-6
          = text_field_tag(:name, nil, :class => "text_area", :value => @shipping_addresses.name, :placeholder=>"First Name")
        .col-6
          = text_field_tag(:name, nil, :class => "text_area", :value => @shipping_addresses.name, :placeholder=>"Last Name")
      .row
        .col-12
          = text_field_tag(:street, nil, :class => "text_area", :value => @shipping_addresses.street1, :placeholder => "Shipping Address")
      .row
        .col-12
          = text_field_tag(:street2, nil, :class => "text_area", :value => @shipping_addresses.street1, :placeholder => "Suite Number")
      .row
        .col-6
          = text_field_tag(:city, nil, :class => "text_area", :value => @shipping_addresses.city, :placeholder=> "City")
        .col-3
          = text_field_tag(:postal, nil, :class => "text_area", :value => @shipping_addresses.postal_code, :placeholder => "Postal Code")
        .col-3
          %select#preauthorize-province
            %option{value:"",disabled:"disabled",selected:"selected"}
              Province
            %option{value:"AB"}
              Alberta
            %option{value:"BC"}
              British Columbia
            %option{value:"MB"}
              Manitoba
            %option{value:"NB"}
              New Brunswick
            %option{value:"NL"}
              Newfoundland and Labrador
            %option{value:"NS"}
              Nova Scotia
            %option{value:"ON"}
              Ontario
            %option{value:"PE"}
              Prince Edward Island
            %option{value:"QC"}
              Quebec
            %option{value:"SK"}
              Saskatchewan

    .preauthorize-section
      = button_tag t("preauthorize_payments.edit.confirm_payment"), :class => "send_button"
