- content_for :extra_javascript do
  :javascript
    ST.transaction.initializeFreeTransactionForm('#{I18n.locale}');

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))

.standard-title-container
  %h2.page-title
    = t("listing_conversations.preauthorize.details")

#new_message_form.centered-section

  - author_link = link_to(author[:display_name], person_path(username: author[:username]))

  .preauthorize-section

    .standard-title-container
      .authorize-title
        %strong
          = link_to("#{listing[:title]}", listing_path(listing[:id]))
        by
        = author_link

    - m_price_break_down.each do |price_break_down|
      %div
        = render partial: "transactions/price_break_down", locals: price_break_down

  = form_tag(form_action, method: :post, id: "transaction-form") do

    %h1 Shipping Address
    %h2 Name
    = text_field_tag(:name, nil, :class => "text_area", :value => @shipping_addresses.name)
    %h2 Address
    = text_field_tag(:street, nil, :class => "text_area", :value => @shipping_addresses.street1)
    %h2 City
    = text_field_tag(:city, nil, :class => "text_area", :value => @shipping_addresses.city)
    %h2 Province
    = text_field_tag(:province, nil, :class => "text_area", :value => @shipping_addresses.state_or_province)
    %h2 Postal Code
    = text_field_tag(:postal, nil, :class => "text_area", :value => @shipping_addresses.postal_code)
    %h2 Country
    = text_field_tag(:country, nil, :class => "text_area", :value => @shipping_addresses.country)
    %h2 Phone
    = text_field_tag(:phone, nil, :class => "text_area", :value => @shipping_addresses.phone)
    = button_tag t("preauthorize_payments.edit.confirm_payment")
