- content_for :extra_javascript do
  :javascript
    ST.transaction.initializeFreeTransactionForm('#{I18n.locale}');

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))

#new_message_form.centered-section

  - author_link = link_to(author[:display_name], person_path(username: author[:username]))

  .preauthorize-section
    %h2.preauthorize-details-title
      = t("listing_conversations.preauthorize.details")

    %ul.no-bullets
      %li
        %div
          = t("listing_conversations.preauthorize.by", listing: link_to("#{listing[:title]}", listing_path(listing[:id])), author: author_link).html_safe

      - m_price_break_down.each do |price_break_down|
        %li
          = render partial: "transactions/price_break_down", locals: price_break_down

  = form_tag(form_action, method: :post, id: "transaction-form") do

    = hidden_field_tag(:start_on, booking_start)
    = hidden_field_tag(:end_on, booking_end)


    .preauthorize-section
      %h2
        = t("conversations.new.send_message_to_user", person: author_link).html_safe
      .row
        .col-12
          = text_area_tag(:message, nil, :class => "text_area")

      - if quantity
        = hidden_field_tag(:quantity, quantity)

      .row
        .col-12
          = button_tag t("conversations.new.send_message"), :class => "send_button"

          %h1 Shipping Address
          %input{:placeholder => "First Name", :value => "Jason", :type => "text"}/
          %input{:placeholder => "Last Name", :value => "Chen", :type => "text"}/
          %input{:placeholder => "Shipping Address", :id => "address", :value => "456 Orange Street", :type => "text"}/
          %input{:placeholder => "Suite Number", :type => "text"}/
          %input{:placeholder => "City", :value => "Toronto", :type => "text"}/
          %input{:placeholder => "Postal Code", :value => "L3D 8V3", :type => "text"}/
          %input{:placeholder => "Province", :value => "Ontario", :type => "text"}/

          %input{:align => "top", :alt => "Check out with PayPal", :border => "0", :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :type => "image"}/

          :javascript
            var output = document.getElementById('address').value
            console.log(output)
