- content_for :extra_javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v1/braintree.js"
- content_for :extra_javascript do
  :javascript

    $(document).ready(function() {
      var braintreePaymentForm = $("#braintree-payment-form");
      initialize_braintree_preauthorize_form("#{I18n.locale}", function beforeSubmit(next) {
        var braintree = Braintree.create("#{braintree_client_side_encryption_key}");
        braintree.encryptForm(braintreePaymentForm);
        next();
      });

      braintreePaymentForm.show();
    });

- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}');

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))

#new_message_form.centered-section

  - author_link = link_to(author[:display_name], person_path(username: author[:username]))
= form_tag(form_action, method: :post, id: "transaction-form") do
  .preauthorize-section
    %h2.preauthorize-details-title
      = t(".details")

    %ul.no-bullets
      %li
        %div
          = t(".by", listing: link_to("#{listing[:title]}", listing_path(listing[:id])), author: author_link).html_safe

      %li
        = render partial: "transactions/price_break_down", locals: price_break_down_locals

  %h1 Shipping Address
  %input{:placeholder => "First Name", :type => "text"}/
  %input{:placeholder => "Last Name", :type => "text"}/
  %input{:placeholder => "Shipping Address", :type => "text"}/
  %input{:placeholder => "Suite Number", :type => "text"}/
  %input{:placeholder => "City", :type => "text"}/
  %input{:placeholder => "Postal Code", :type => "text"}/
  %input{:placeholder => "Province", :type => "text"}/
  %br
  %br

  %form{:action => "http://localhost:3000/en/transactions/new?utf8=%E2%9C%93&listing_id=17", :method => "GET"}
    %input{:align => "top", :alt => "Check out with PayPal", :border => "0", :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :type => "image"}/
