- content_for :extra_javascript do
  = javascript_include_tag "https://js.braintreegateway.com/v1/braintree.js"
- content_for :extra_javascript do
  :javascript

    $(document).ready(function() {
      var braintreePaymentForm = $("#braintree-payment-form");
      initialize_braintree_preauthorize_form("#{I18n.locale}", function beforeSubmit(next) {
        var braintree = Braintree.create("#{braintree_client_side_encryption_key}");
        braintree.encryptForm(braintreePaymentForm);
        next();
      });

      braintreePaymentForm.show();
    });

- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}');

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))

.standard-title-container
  %h2.page-title
    = t("listing_conversations.preauthorize.details")

#new_message_form.centered-section

  - author_link = link_to(author[:display_name], person_path(username: author[:username]))

  .preauthorize-section

    .standard-title-container
      .authorize-title
        %strong
          = link_to("#{listing[:title]}", listing_path(listing[:id]))
        by
        = author_link

    %div
      = render partial: "transactions/price_break_down", locals: price_break_down_locals
      %p#preauthorize-message
        Free shipping
        %br
        Ships within 5-7 business days from date of purchase
        %br
        * Eivey only buys & sells in Canada

  = form_for preauthorize_form,
    :url => form_action,
      :method => "post",
      :html => { :id => "braintree-payment-form", :class => "hidden" } do |form|

    -# TODO Fix this, no respond_to?
    - if preauthorize_form.respond_to?(:start_on) && preauthorize_form.respond_to?(:end_on)
      = form.date_select :start_on, { value: preauthorize_form.start_on }, { class: "hidden" }
      = form.date_select :end_on, { value: preauthorize_form.end_on }, { class: "hidden" }

    .preauthorize-section
      %h2
        = t(".payment")

      = render partial: "payments/braintree/credit_card_info", locals: {braintree_form: braintree_form}

    .preauthorize-section

      .row
        .col-12
          = form.hidden_field :sender_id, :value => @current_user.id

      - if @current_community.transaction_agreement_in_use
        = render :partial => "listing_conversations/transaction_agreement_checkbox", locals: { form: form }

      - if local_assigns.has_key?(:quantity)
        = form.hidden_field :quantity, value: quantity

      .row
        .col-12
          = form.button t("preauthorize_payments.edit.confirm_payment"), :class => "send_button"


    %h1 Shipping Address
    %input{:placeholder => "First Name", :type => "text"}/
    %input{:placeholder => "Last Name", :type => "text"}/
    %input{:placeholder => "Shipping Address", :type => "text"}/
    %input{:placeholder => "Suite Number", :type => "text"}/
    %input{:placeholder => "City", :type => "text"}/
    %input{:placeholder => "Postal Code", :type => "text"}/
    %input{:placeholder => "Province", :type => "text"}/
    %br
    %br


    %input{:align => "top", :alt => "Check out with PayPal", :border => "0", :name => "submit", :src => "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", :type => "image"}/

    %noscript
    = "For security reasons JavaScript has to be enabled"
