- filters.each do |field|

  - field.with_type do |type|
    - if [:dropdown, :checkbox].include?(type)
      .row
        .col-12
          .custom-filter-title
            = field.name(I18n.locale)
          - make_scrollable = field.options.size > 12
          .custom-filter-options{:class => make_scrollable ? "scrollable" : ""}
            - field.options.sort.each do |option|
              .custom-filter-checkbox-container
                %label.custom-filter-checkbox-label
                  - if field.name(I18n.locale) == "Colours"
                    - colourOption = option.id
                    - if colourOption == 23
                      %span.colourTile.col-2.white
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      //White
                    - elsif colourOption == 24
                      %span.colourTile.col-2.yellow
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Yellow
                    - elsif colourOption == 25
                      %span.colourTile.col-2.orange
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Orange
                    - elsif colourOption == 26
                      %span.colourTile.col-2.red
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Red
                    - elsif colourOption == 27
                      %span.colourTile.col-2.pink
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Pink
                    - elsif colourOption == 28
                      %span.colourTile.col-2.purple
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Purple
                    - elsif colourOption == 29
                      %span.colourTile.col-2.blue
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Blue
                    - elsif colourOption == 30
                      %span.colourTile.col-2.green
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Green
                    - elsif colourOption == 31
                      %span.colourTile.col-2.brown
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Brown
                    - elsif colourOption == 32
                      %span.colourTile.col-2.black
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                      // Black
                    - elsif colourOption == 40
                      %span.colourTile.col-2.grey
                        - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                        = check_box_tag param_name, "#{option.id}", params[param_name]
                    // Grey
                    -#  = check_box_tag param_name, "#{option.id}", params[param_name]
                  - else
                    - param_name = type == :dropdown ? "filter_option_#{option.id}" : "checkbox_filter_option_#{option.id}"
                    = check_box_tag param_name, "#{option.id}", params[param_name]
                    %span.custom-filter-checkbox-label-text
                      = option.title(I18n.locale)

  - field.with(:numeric) do
    .rowx
      .col-12
        .custom-filter-title
          = field.name(I18n.locale)
    .row
      .col-12
        .custom-filter-options
          - id = ["range-slider", field.id].join("-")
          .range-slider{id: id}
            - range = [field.min, field.max]
            - start = [params["nf_min_" + field.id.to_s] || field.min, params["nf_max_" + field.id.to_s] || field.max]
            - labels = ["#custom-filter-min-value-#{id}", "#custom-filter-max-value-#{id}"]
            - fields = ["#nf_min_#{id}", "#nf_max_#{id}"]

            - content_for :extra_javascript do
              :javascript
                window.ST.rangeFilter("##{id}", #{range}, #{start}, #{labels}, #{fields}, #{field.allow_decimals})

    .row
      .col-12
        .left
          %span.custom-filter-min-max-title= t(".min")
          %span{id: "custom-filter-min-value-#{id}"}
          %input{type: "hidden", id: "nf_min_#{id}", name: "nf_min_#{field.id}", value: params["nf_min_#{field.id}"]}
        .right
          %span.custom-filter-min-max-title= t(".max")
          %span{id: "custom-filter-max-value-#{id}"}
          %input{type: "hidden", id: "nf_max_#{id}", name: "nf_max_#{field.id}", value: params["nf_max_#{field.id}"]}
