- content_for :javascript do
  initialize_braintree_account_form("#{I18n.locale}");

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) }

.left-navi-section.settings-section

  %h2= t(".add_payout_details")
  = form_for @braintree_account, :url => form_action, :html => { :id => "braintree_account_form"} do |form|

    = form.label :email, t(".email"), :class => "input"
    = form.text_field :email, :class => "auto_width", :size => 30


    %br/
    %br/

    %br/

    = form.button t(".save"), :class => "send_button"
