-# Hide header in map view if mobile
%header.header
  #header-desktop-menu.grid-container.show-for-large

    -#logo section
    .small-12.medium-5
      %a{:href => "/"}
        %div.i--icon-logo
      %span#logo-tagline-border
      #logo-tagline
        Buy &amp; Sell Pre-Loved Designer Fashion

    -#account links and menus
    .small-12.medium-7.grid-end
      #header-menu-container
        = link_to t("homepage.index.post_new_listing"), new_listing_path, :class => "new-listing-link", :id => "new-listing-link"
      - if logged_in
        .float-right
          = render :partial => "layouts/header_right_visible_tablet", locals: {unread_count: unread_count, inbox_path: inbox_path, icons: icons}
          = render :partial => "layouts/header_anchors", locals: {avatar_url: avatar_url, current_user_name: current_user_name, icons: icons}
          = render :partial => "layouts/header_user_menu", locals: {unread_count: unread_count, inbox_path: inbox_path, profile_path: profile_path, manage_listings_path: manage_listings_path, settings_path: settings_path, logout_path: logout_path, icons: icons}
      - unless logged_in
        .float-right
          .left
            = link_to sign_up_path, class: "header-text-link header-hover" do
              = t("header.signup")
          .left
            = link_to login_path, class: "header-text-link header-hover", id: "header-login-link" do
              = t("header.login")

    -# search bar
    .small-12.medium-5.grid-end
      #search-form-input.search-form-text-field
        = text_field_tag "q", params[:q]
        %a#search-button.i--icon-search{href:'#'}

  #header-mobile-menu.grid-container.hide-for-large
    -#  todo, mobile menu
    .small-12.medium-6
      mobile menu here
    .small-12.medium-6.grid-end.text-right
      another menu